#Credenciais para conexão com o banco de dados
DB_HOST=localhost
DB_USER=username
DB_PASSWORD=password
DB_NAME=database

# Credenciais/configuração AWS S3
BUCKET_NAME= nome-do-bucket
S3_FOLDER= pasta-do-bucket ex: 01-bronze
LOCAL_FOLDER= pasta-local-dos-dados